/*         Corne v4 46 KEY MATRIX / LAYOUT MAPPING
  ╭─────────────────────────────┬─────────────────────────────╮
  │ LT6 LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 RT6 │
  │ LM6 LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 RM6 │
  │ LB6 LB5 LB4 LB3 LB2 LB1     │     RB1 RB2 RB3 RB4 RB5 RB6 │
  ╰───────────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────────╯
                  ╰─────────────┴─────────────╯
*/

#define COMBO(NAME, BIND, KEYPOS, TIMEOUT, PRIORIDLE, LAYERS) \
    NAME {                                                    \
        bindings = <BIND>;                                    \
        key-positions = <KEYPOS>;                             \
        timeout-ms = <TIMEOUT>;                               \
        require-prior-idle-ms = <PRIORIDLE>;                  \
        layers = <LAYERS>;                                    \
    };

/ {
    combos {
        compatible = "zmk,combos";

        COMBO(cmb_ret,   &kp RET     , LH0 RH0, 100, 150, Base)   /* Enter */
        COMBO(cmb_retkp, &kp KP_ENTER, LH0 RH0, 100, 150, NumKp)  /* Enter Numpad */

        /* opening brackets are on the left side, closing on the right */
        COMBO(cmb_lpar, &hml LC(LSHFT) LPAR, LM2 LM3, 75, 75, Base NavNum Num)  /*  (  */
        COMBO(cmb_rpar, &hmr RC(RSHFT) RPAR, RM2 RM3, 75, 75, Base NavNum Num)  /*  )  */
        COMBO(cmb_lbkt, &kp            LBKT, LB2 LB3, 75, 75, Base NavNum Num)  /*  [  */
        COMBO(cmb_rbkt, &kp            RBKT, RB2 RB3, 75, 75, Base NavNum Num)  /*  ]  */
        COMBO(cmb_lbrc, &hml LA(LSHFT) LBRC, LM2 LM4, 75, 75, Base NavNum Num)  /*  {  */
        COMBO(cmb_rbrc, &hmr LA(LSHFT) RBRC, RM2 RM4, 75, 75, Base NavNum Num)  /*  }  */
        COMBO(cmb_lt  , &kp            LT  , LT2 LT3, 75, 75, Base NavNum Num)  /*  <  */
        COMBO(cmb_gt  , &kp            GT  , RT2 RT3, 75, 75, Base NavNum Num)  /*  >  */

        /* left */
        COMBO(cmb_prcnt , &kp PRCNT , LT2 LT4, 75, 75, Base)  /*  %  */
        COMBO(cmb_at    , &kp AT    , LT3 LT4, 75, 75, Base)  /*  @  */
        COMBO(cmb_dollar, &kp DOLLAR, LM3 LM4, 75, 75, Base)  /*  $  */
        COMBO(cmb_hash  , &kp HASH  , LB3 LB4, 75, 75, Base)  /*  #  */

        /* right */
     // COMBO(cmb_equal  , &kp EQL   , RT1 RT2, 75, 75, Base NavNum Num)  /*  =  */
        COMBO(cmb_caret  , &kp CARET , RT2 RT4, 75, 75, Base NavNum Num)  /*  ^  */
        COMBO(cmb_amps   , &kp AMPS  , RT3 RT4, 75, 75, Base NavNum Num)  /*  &  */
        COMBO(cmb_pipe   , &kp PIPE  , RM3 RM4, 75, 75, Base NavNum Num)  /*  |  */
        COMBO(cmb_under  , &kp UNDER , RH0 RB2, 75, 75, Base NavNum Num)  /*  _  */
        COMBO(cmb_bslh   , &kp BSLH  , RB1 RB2, 75, 75, Base NavNum Num)  /*  \  */
        COMBO(cmb_dollar2, &kp DOLLAR, RB3 RB4, 75, 75, Base NavNum Num)  /*  $  */

        /* left + right */
        COMBO(cmb_capsw , &caps_word, LT3 RT3, 75, 75, Base)
        COMBO(cmb_under2, &kp UNDER , LB3 RB3, 75, 75, Base NavNum Num)  /*  _  */
    };
};
