/*         Corne v4 46 KEY MATRIX / LAYOUT MAPPING
  ╭─────────────────────────────┬─────────────────────────────╮
  │ LT6 LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 RT6 │
  │ LM6 LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 RM6 │
  │ LB6 LB5 LB4 LB3 LB2 LB1     │     RB1 RB2 RB3 RB4 RB5 RB6 │
  ╰───────────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────────╯
                  ╰─────────────┴─────────────╯ 
*/

#define COMBO(NAME, BIND, KEYPOS, TIMEOUT, PRIORIDLE, LAY, SLOWRELEASE) \
    NAME {                                                              \
        bindigs = <BIND>;                                               \
        key-positions = <KEYPOS>;                                       \
        timeout-ms = <TIMEOUT>;                                         \
        require-prior-idle-ms = <PRIORIDLE>;                            \
        layers = <LAY>;                                                 \
        slow-release = <SLOWRELEASE>;                                   \
    };

/ {
    combos {
        compatible = "zmk,combos";
        // timeout-ms = <50>;
        // require-prior-idle-ms = <50>; // default -1
        // layers = <...>;               // default -1
        // slow-release = true;          // default false

        // Symbols LR - opening brackets are on the left side, closing on the right
        COMBO(cmb_lpar  , &kp LPAR  , LT2 LT3, 50, 50, 0, false)  // (
        COMBO(cmb_rpar  , &kp RPAR  , RT2 RT3, 50, 50, 0, false)  // )
        COMBO(cmb_lbkt  , &kp LBKT  , LM2 LM3, 50, 50, 0, false)  // [
        COMBO(cmb_rbkt  , &kp RBKT  , RM2 RM3, 50, 50, 0, false)  // ]
        COMBO(cmb_lbrc  , &kp LBRC  , LB2 LB3, 50, 50, 0, false)  // {
        COMBO(cmb_rbrc  , &kp RBRC  , RB2 RB3, 50, 50, 0, false)  // }
        COMBO(cmb_lt    , &kp LT    , LM1 LM2, 50, 50, 0, false)  // <
        COMBO(cmb_gt    , &kp GT    , RM1 RM2, 50, 50, 0, false)  // >
        COMBO(cmb_at    , &kp AT    , LB3 LB4, 50, 50, 0, false)  // @
        COMBO(cmb_hash  , &kp HASH  , LM3 LM4, 50, 50, 0, false)  // #
        COMBO(cmb_pipe  , &kp PIPE  , RM3 RM4, 50, 50, 0, false)  // |
        COMBO(cmb_amps  , &kp AMPS  , RT3 RT4, 50, 50, 0, false)  // &
        COMBO(cmb_dollar, &kp DOLLAR, LT3 LT4, 50, 50, 0, false)  // $
        COMBO(cmb_caret , &kp CARET , RT2 RT4, 50, 50, 0, false)  // ^
        COMBO(cmb_prcnt , &kp PRCNT , LT2 LT4, 50, 50, 0, false)  // %
     // COMBO(cmb_star  , &kp STAR  , xxx xxx, 50, 50, 0, false)  // *
     // COMBO(cmb_under , &kp UNDER , xxx xxx, 50, 50, 0, false)  // _
     // COMBO(cmb_bslh  , &kp BSLH  , xxx xxx, 50, 50, 0, false)  // backslash
    };
};
